body{
	font-family: "Segoe UI",Arial,sans-serif;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
  	margin: 0;
}
div.header {
  background-color: #1da1f2 ;
  color: #fff;
  
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    padding-top: 20%;
    padding-left: 12%;
    padding-bottom: 20%;
    padding-right: 10%
}
div.header img#searchicon{
	width: 28px;
	height: 26px;
	padding-right: 5%;
	margin: 48px,auto;
	margin-bottom: -7px;
}
img#friend{
	width: 34px;
	height: 29px;
	margin-right:12px;
	margin-top: 40px;
	margin-bottom: -7px;
	-webkit-filter: invert(100%);
  filter: white(100%);

}
.clear{
	clear: both;
}
img#dialog{
	width: 34px;
	height: 29px;
	margin-right:12px;
	margin-top: 40px;
	-webkit-filter: invert(100%);
  filter: white(100%);
  margin-bottom: -7px;
}
div.header{
	padding-bottom: 180px;
	padding-top: 250px;
	padding-left: 150px;
	padding-right: 150px;
	font-weight: bolder;
	margin-bottom: 0px;
}
div.part2{
padding-top: 140px;
padding-left: 60px;
}
img#bird{
	width: 45px;
	height: 35px;
	padding-top:40px;
	padding-left: 100px;
}
h1{
	font-size: 27px;
	padding-left: 100px;
	padding-right: 30px;
}
div.part2 a{
	float: right;
	margin-top:36px;
	margin-right: 5px;
	color: #1da1f2;
	text-decoration: none;
	font-size: 12px;
	border:1px solid #1da1f2;
    border-radius: 100px;
    padding: 12px;
    border-radius: 12px;
}
div.part2 a:hover{
	background-color: #e3f2f0;

}
div.join{
	padding-top: 30px;
	margin-left: 100px;
}
div.linkbutton a{
	border:1px solid #1da1f2;
    border-radius: 100px;
    padding: 12px;
}
div.join a{
	text-decoration: none;
	width: 256px;
	padding-right: 40px;
	padding-left: 40px;
	float: left;
	margin-top: 20px;
	text-align: center;
	padding-bottom: 7px;
	padding-top: 7px;
	background-color: #1da1f2;
	color: #ffffff;
	font-size: 14px;
}
div.join a:hover{
	background-color: #006dbf;
}
div #getlost a{
	text-decoration: none;
	width: 256px;
	padding-right: 40px;
	padding-left: 40px;
	float: left;
	margin-top: 20px;
	text-align: center;
	padding-bottom: 7px;
	padding-top: 7px;
	background-color: #ffffff;
	color: #1da1f2;
	font-size: 14px;
}
div #getlost a:hover{
	background-color: #e3f2f0;
}
div.header img#birdy{
	background-color: transparent;
}
div #footer,.footer{
   overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
	padding-left: 0px;
padding-right: 0px;
padding-bottom: 20px;
margin: 0px;
margin-left: 0px;
font-family: "Segoe UI",Arial,sans-serif;
font-size: 12px;
color: #aab8c2;
text-align: center;
word-spacing: 13px;
font-weight: lighter;
padding-top: 8px;
margin-top: 12px;
}